$Black1: black;
$Black2: rgb(25 27 32);

$White1: white;
$White2: rgb(232 232 251);

$DarkBlue1: rgb(29 34 48);
$DarkBlue2: rgb(28 32 42);

$Blue: rgb(97 133 238);

$Red: rgb(238 46 46);

$Gray: rgb(153 160 177);
