@import "@/styles/commonElements.scss";
@import "@/styles/colors.scss";

.form_container {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 0;

  background: rgba($color: #000000, $alpha: 0.5);
}
.form {
  background: $Black2;
  padding: 40px;
  position: relative;

  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 20px;

  border-radius: 10px;

  z-index: 100;
}
.formItemsWrapper {
  margin-top: 30px;
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.closeBtn {
  position: absolute;
  top: 15px;
  right: 15px;

  background: $DarkBlue2;
}

.formItem {
  display: flex;
  flex-direction: column;

  label {
    font-size: 15px;
    text-transform: uppercase;
  }

  &:last-child {
    grid-column: span 2;
    textarea {
      max-width: none;
      // width: 200%;
      font-family: "Inter";
      height: 100px;

      resize: none;
    }
  }
}

.input {
  margin-top: 10px;
  max-width: 250px;
  width: 100%;

  padding: 10px 5px;

  font-size: 20px;

  background: #000;
  border: 1px solid rgb(104 91 117);
  border-radius: 10px;

  color: $White2;
}

.btn_wrapper {
  display: flex;

  gap: 20px;
}

.subBtn {
  width: 150px;
  height: 40px;

  border: none;

  background: $Blue;

  border-radius: 10px;

  box-shadow: 0px 0px 15px rgb(93 132 237);

  color: $White1;

  text-transform: uppercase;

  cursor: pointer;

  transition: all 0.1s ease-in-out;

  &:hover {
    box-shadow: 0px 0px 30px rgb(93 132 237);
  }
}

.delBtn {
  width: 150px;
  height: 40px;

  border: none;

  background: $Red;

  border-radius: 10px;

  box-shadow: 0px 0px 15px $Red;

  color: $White1;

  text-transform: uppercase;

  cursor: pointer;

  transition: all 0.1s ease-in-out;

  &:hover {
    box-shadow: 0px 0px 30px $Red;
  }
}
